body {
    line-height: 1.8em;
    background: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    // font-family: $font;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
}

.no-padding {
    padding: 0px !important;
}

// Pre Header 
.pre-header {
    background-color: $black;
    min-height: 39px;
    overflow: hidden;

    .pre-header-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .pre-header-left {
            display: flex;
            flex-direction: row;
            align-items: center;

            a {
                font-size: 14px;
                text-decoration: none;
                color: $white;
                border-right: 1px solid rgba(255, 255, 255, 0.4);
                padding: 5px 15px;
                transition: 0.3s;
                text-align: center;

                &:first-child {
                    border-left: 1px solid rgba(255, 255, 255, 0.4);
                }

                i {
                    text-align: center;
                }

                &:hover {
                    color: $hover-color;
                }
            }
        }

        .pre-header-right {
            a {
                color: $white;
                padding: 5px 15px;
                transition: 0.3s;
                font-size: 14px;
                font-family: $roboto-font;
                font-weight: 400;

                &:hover {
                    color: $hover-color;
                }

                &:last-child {
                    padding-right: 0;
                }
            }

            .pre-header-login {
                position: relative;

                &::after {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    content: "";
                    transform: translateY(-50%);
                    background-color: rgba(255, 255, 255, 0.4);
                    width: 1px;
                    height: 15px;
                }
            }
        }
    }
}

// Pre Header 

// Main Header 
.main-header {
    transition: 0.5s ease-in-out;

    .main-header-inner {
        .navbar {
            .navbar-brand {
                img {
                    max-width: 214px;
                    min-width: 200px;
                    transition: 0.3s;
                }
            }

            .collapse {
                flex-grow: 0;

                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: $nav-link-color;
                            transition: 0.3s;
                            font-weight: 500;
                            text-transform: uppercase;
                            padding: 8px 15px;
                            font-family: $roboto-font;
                            font-size: 14px;

                            &:hover {
                                color: $hover-color;
                            }
                        }

                        .active {
                            color: $hover-color;
                        }

                        &:last-child {
                            a {
                                padding-right: 0;
                                position: relative;

                                span {
                                    position: absolute;
                                    right: -15px;
                                    top: 0;
                                    background-color: $hover-color;
                                    color: $white;
                                    min-width: 20px;
                                    text-align: center;
                                    font-size: 14px;
                                    border-radius: 12px;
                                    padding: 3px;
                                    line-height: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.sticky {
    padding: 0 0 !important;
    transition: 0.5s ease-in-out;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: $white;
    z-index: 9;
    -webkit-box-shadow: 0px 10px 13px -7px rgb(0 0 0 / 10%), 5px 5px 25px 15px rgb(0 0 0 / 10%);
    box-shadow: 0px 10px 13px -7px rgb(0 0 0 / 10%), 5px 5px 25px 15px rgb(0 0 0 / 10%);

    .navbar-brand {
        img {
            // max-width: 190px !important;
        }
    }
}

// Main Header 

// Home page banner 
.home-banner-section {
    .home-banner {
        .carousel-indicators {
            bottom: 90px;

            button {
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: $white;
                opacity: 1;
            }

            .active {
                background-color: $hover-color;
            }
        }

        .carousel-control-prev {
            width: 7%;
            opacity: 1;

            i {
                color: $white;
                font-size: 30px;
            }
        }

        .carousel-control-next {
            width: 7%;
            opacity: 1;

            i {
                color: $white;
                font-size: 30px;
            }
        }

        .carousel-item {
            position: relative;
        }

        .carousel-caption {
            position: unset;
        }

        .banner-content {
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgba(240, 240, 240, 0.1);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            h1 {
                font-family: $roboto-font;
                font-size: 44px;
                text-transform: uppercase;
                color: $home-banner-title;
                font-weight: 500;
                margin-bottom: 10px;
            }

            h5 {
                color: $hover-color;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                margin-bottom: 10px;
                font-family: $raleway-font;
            }

            p {
                color: $home-banner-para;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 20px;
                font-size: 16px;
                font-family: $raleway-font;
            }

            a {
                font-family: $roboto-font;
                text-align: center;
                text-transform: uppercase;
                color: $white;
                background-color: $hover-color;
                border-radius: 3px;
                padding: 15px 38px;
                transition: 0.3s;
                font-weight: bold;
                font-size: 14px;

                &:hover {
                    background-color: $home-banner-title;
                }
            }
        }
    }
}

// Home page banner 

// Home Subscription 
.home-subscription {
    margin-top: 50px;
    margin-bottom: 100px;

    .title {
        h1 {
            font-family: $roboto-font;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: $section-title-color;
            font-weight: 500;
            font-size: 28px;
            margin-bottom: 40px;

            &::after {
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                bottom: -30px;
                width: 50px;
                height: 1px;
                background-color: $section-title-color;
                content: "";
            }
        }
    }

    .subscription-box {
        text-align: center;

        .top-img {
            img {
                // width: 100%;
            }

            h5 {
                color: $subscription-name-color;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 4px;
                font-family: $raleway-font;
            }

            p {
                font-size: 14px;
                color: $subscription-name-color;
                margin-bottom: 10px;
                line-height: 22px;
                font-family: $raleway-font;
                font-weight: 500;
            }

            h2 {
                font-size: 30px;
                font-weight: 500;
                color: $subscription-name-color;
                font-family: $roboto-font;
            }

            .add-to-cart {
                margin-top: 25px;

                a {

                    font-weight: bold;
                    font-size: 14px;
                    font-family: $roboto-font;
                    text-align: center;
                    text-transform: uppercase;
                    color: $white;
                    background-color: $hover-color;
                    border-radius: 3px;
                    padding: 15px 25px;
                    transition: 0.3s;

                    &:hover {
                        background-color: $home-banner-title;
                    }
                }
            }
        }
    }

    .second-box {
        .top-img {
            padding-top: 59px;
        }
    }

    .third-box {
        .top-img {
            padding-top: 96px;
        }
    }
}

// Home Subscription 

// New Arrivals 
.new-arrivals-wrapper {
    margin-bottom: 100px;
    background-color: $new-arrival-bg;
    padding: 50px 0;

    .new-arrival-inner {
        .title {
            h1 {
                font-family: $roboto-font;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                color: $section-title-color;
                font-weight: 500;
                font-size: 28px;
                margin-bottom: 40px;

                &::after {
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: -30px;
                    width: 50px;
                    height: 1px;
                    background-color: $section-title-color;
                    content: "";
                }
            }
        }

        .new-arrival-slider-wrapper {
            padding-top: 50px;
            position: relative;

            .item {
                padding: 20px;
                text-align: center;
                background-color: $white;
                border: 1px solid #dddddd;

                .details {
                    h5 {
                        font-family: $raleway-font;
                        color: $subscription-name-color;
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 5px;
                    }

                    .star {
                        margin-bottom: 5px;

                        i {
                            color: $hover-color;
                        }
                    }

                    h6 {
                        font-family: $roboto-font;
                        color: $subscription-name-color;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }

            .owl-prev {
                position: absolute;
                right: 50px;
                top: -50px;
                border: 1px solid #dddddd;
                color: $hover-color;
                font-weight: normal;
                padding: 0 10px 0 10px !important;
                margin: 0;
                border-radius: 0;
                transition: 0.3s;

                &:hover {
                    background-color: $home-banner-title;
                    color: $white;
                }
            }

            .owl-next {
                margin: 0;
                font-weight: normal;
                border: 1px solid #dddddd;
                position: absolute;
                right: 0;
                top: -50px;
                color: $hover-color;
                font-weight: normal;
                padding: 0 10px 0 10px !important;
                border-radius: 0;
                transition: 0.3s;

                &:hover {
                    background-color: $home-banner-title;
                    color: $white;
                }
            }

            .view-more-btn {
                text-align: center;
                margin-top: 50px;

                a {
                    font-family: $roboto-font;
                    text-align: center;
                    text-transform: uppercase;
                    color: $white;
                    background-color: $hover-color;
                    border-radius: 3px;
                    padding: 20px 50px;
                    transition: 0.3s;
                    font-size: 14px;
                    font-weight: bold;

                    &:hover {
                        background-color: $home-banner-title;
                    }
                }
            }
        }
    }
}

// New Arrivals 

// Latest Blog 
.latest-blog {
    padding-bottom: 100px;
    padding-top: 50px;
    background-color: $blog-bg;

    .title {
        h1 {
            font-family: $roboto-font;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: $section-title-color;
            font-weight: 500;
            font-size: 28px;
            margin-bottom: 50px;

            &::after {
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                bottom: -30px;
                width: 50px;
                height: 1px;
                background-color: $section-title-color;
                content: "";
            }
        }
    }
        .blog-margin{
            margin-bottom: 15px;
        }
        a {
            display: block;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            padding: 20px 15px;
            position: relative;
    
            &:hover {
                -webkit-box-shadow: 0px 10px 13px -7px rgb(0 0 0 / 5%), 5px 5px 25px 15px rgb(0 0 0 / 5%);
                box-shadow: 0px 10px 13px -7px rgb(0 0 0 / 5%), 5px 5px 25px 15px rgb(0 0 0 / 5%);
                .blog-img{
                    img{
                        transform: scale(1.3);
                    }
                }
            }
    
            .blog-box {
                overflow: hidden;
                .blog-img {
                    overflow: hidden;
    
                    img {
                        width: 100%;
                        transition: 1s ease-in-out;
                    }
                }
    
                h5 {
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-family: $roboto-font;
                    color: $subscription-name-color;
                    margin-top: 18px;
                }
    
                p {
                    color: $subscription-name-color;
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $roboto-font;
                    line-height: 22px;
                    margin-bottom: 0;
                }
                .date{
                    background-color: $blog-date-bg;
                    width: 80px;
                    height: 45px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 15px;
                    top: 20px;
                    p{
                        text-transform: uppercase;
                        color: $white;
                        margin-bottom: 0;
                    }
                }
            }
        }
  

}

// Latest Blog 


// Client Say Section 
.client-testimonial{
    background-image: url(../assets/Home/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 500px;
    margin-bottom: 200px;
    z-index: 1;
    &::after{
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0, 0, 0, 0.5);
    }
    .client-testimonial-slider-wrapper{
        padding-top: 50px;
        .title {
            h1 {
                font-family: $roboto-font;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                color: $white;
                font-weight: 500;
                font-size: 28px;
                margin-bottom: 50px;
    
                &::after {
                    position: absolute;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: -30px;
                    width: 50px;
                    height: 1px;
                    background-color: $white;
                    content: "";
                }
            }
        }
        .client-slider{
            .item{
                .client-description{
                    padding-top: 20px;
                    .client-say{
                        text-align: center;
                        color: $white;
                        font-family: $raleway-font;
                        font-weight: 500;
                        max-width: 70%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 60px;
                    }
                    .image-designation{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        .client-img{
                            margin-right: 15px;
                            img{
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }
                        }
                        .designation{
                            h6{
                                margin-bottom: 0;
                                color: $white;
                                font-family: $roboto-font;
                                text-transform: uppercase;
                                font-weight: 400;
                            }
                            p{
                                margin-bottom: 0;
                                color: $white;
                                font-family: $roboto-font;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            .owl-dots{
                position: absolute;
                left: 0;
                bottom: -100px;
                width: 100%;
                .owl-dot{
                    span{
                        width: 13px;
                        height: 13px;
                        background-color: $white;
                        opacity: 1;
                        margin: 0 3px;
                    }
                }
                .active{
                    span{
                        background-color: $hover-color;
                    }
                }
            }
        }
    }
}
// Client Say Section 




// Search Modal 
#SearchModal {
    background-color: rgba(0, 0, 0, 0.5);

    .modal-dialog {
        .modal-content {
            background-color: transparent;
            border: none;

            .modal-body {
                form {
                    border-bottom: 1px solid $white;
                    padding-bottom: 5px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    input {
                        width: 85%;
                        background-color: transparent;
                        box-shadow: none;
                        border: none;
                        color: $white;
                        font-size: 19px;

                        &:focus {
                            outline: none;
                            border: none;
                            box-shadow: none;
                        }
                    }

                    ::-webkit-input-placeholder {
                        color: rgba(255, 255, 255, 0.5);
                    }

                    :-ms-input-placeholder {
                        color: rgba(255, 255, 255, 0.5);
                    }

                    ::placeholder {
                        color: rgba(255, 255, 255, 0.5);
                    }

                    .search-submit {
                        font-size: 22px;
                        color: $white;
                        transition: 0.3s;

                        &:hover {
                            color: $hover-color;
                        }

                        &:focus {
                            outline: none;
                            border: none;
                            box-shadow: none;
                            color: $hover-color;
                        }
                    }
                }
            }
        }
    }
}

// Search Modal 